body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('background3-image.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    height: 100%;
}

.container {
    width: 80%; 
    max-width: 400px; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto; 
}

h2 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #fff;
}

.dropdown, #locality {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
